#container {
	width: 80%;
	margin: 0px auto;
	background: none repeat scroll 0% 0% rgb(153, 153, 204);
}

#header {
	background: black;
}

#left {
	float: left;
	width: 20%;
	overflow: hidden;
}

#content {
	float: left;
	width: 75%;
	margin-left: 2%;
	margin-top: 1%;
	overflow: auto;
}

#content .button {
	margin-top: 1%;
}

#subject-description,#subject-slider {
	padding: 10px;
	margin-top: 5%;
	border: 1px solid #761A1A;
}

#subject-slider {
	width: 70%;
	margin-left: 10%;
	height: 250px;
}

#subject-description-input {
	width: 95%;
	height: 400px;
	float: left;
}

#rating {
	padding: 10px;
	float: right;
}

#print-page {
	float: right;
}

.button {
	margin-left: 1%;
	text-decoration: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0 .1) 0 1px 0 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.0 .1) 0 1px 0 0;
	box-shadow: rgba(0, 0, 0, 0.0 .1) 0 1px 0 0;
	background-color: #5B74A8;
	border: 1px solid #29447E;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	padding: 2px 6px;
	color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px
}

#social-share .button {
	background-color: white;
	border: none;
}

h3 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18pt;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 15%;
	color: white;
}

ul#navigation {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
	font: bold 16px Helvetica, Verdana, Arial, sans-serif;
	line-height: 165%;
	width: 200px;
}

ul#navigation li {
	margin: 0;
	padding: 0;
	border-top: 10px solid #4D0000;
	border-bottom: 10px solid #761A1A;
}

ul#navigation li#home {
	color: #5f;
	margin-bottom: 5%;
}

ul#navigation li a {
	display: block;
	text-decoration: none;
	color: #fff;
	background: #600;
	padding: 0 0 0 20px;
	width: 180px;
}

ul#navigation li a:hover {
	background: #900
		url("http://www.cssportal.com/vertical-menus/images/vert-one_arrow.gif")
		no-repeat 0 9px;
}