body,html {
	margin: 0;
	padding: 0;
	color: #000;
	background: white;
}

#container {
    width: 80%;
    margin: 0px auto;
    background: none repeat scroll 0% 0% rgb(153, 153, 204);
}

#header {
	background: grey;
}

#left {
 float:left;
 width:20%
}

#content {
 float:left;
 width:80%;
}


h3 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18pt;
	padding-top: 10px;
	padding-bottom: 3px;
}