/*
 * The hhcib.ccs stylesheet is generated - do not alter! Use instead hhcib.scss (located in sass-folder)
 * to create the hhcib-stylesheet. hhcib.scss. is based on SCSS-syntax  (see sass-lang.com) for further details.
 *
 */	
$hhcib-blue: rgb(0, 116, 168);
$header-blue:  rgb(91, 116, 168);
$light-grey: #F9F9F9;
$grey: #BBBBBB;
$white: #FFFFFF;
$border-red: #761A1A;
$button-blue: #5B74A8;
$button-shadow: rgba(0, 0, 0, 0.1);
$button-border: #29447E;
$input-border: #BBBBBB;
$button-color: #FFF;
$navigation-border-top: #4D0000;
$navigation-border-bottom: #761A1A;

html {
	background-image: -ms-linear-gradient(bottom, $white 0%, $hhcib-blue 100%);
	background-image: -moz-linear-gradient(bottom, $white 0%, $hhcib-blue 100%);
	background-image: -o-linear-gradient(bottom, $white 0%, $hhcib-blue 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, $white),
		color-stop(1, $hhcib-blue));
	background-image: -webkit-linear-gradient(bottom, $white 0%, $hhcib-blue 100%);
	background-image: linear-gradient(to top, $white 0%, $hhcib-blue 100%);
	background-repeat: no-repeat;
}

html, body {
   height: 100%;
   font-size: 100%;
   font-family: Arial, Helvetica, sans-serif;
}

#container {
	width: 90%;
	margin: 0px auto;
	position: absolute;
	background: $white;
	margin-left: 5%;
	height: auto;
	min-height: 90%;
}

#header {
	background: black;
	overflow: auto;
}

#left {
	float: left;
	width: 15%;
	overflow: hidden;
}

#content {
	float: left;
	width: 80%;
	margin-left: 2%;
	margin-top: 3%;
	overflow: auto;
}

#content .button {
	margin-top: 10px;
}

#subject-description,#subject-slider {
	padding: 10px;
	margin-top: 5%;
	border: 1px solid $border-red;
}

#subject-heading {
	margin-bottom: 1%;
	font-weight: bold;
	
}

#search-form\:search-input {
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 25%;
  height: 35px;
  width: 40%;
}


#search-form\:result {
  margin-top: 2%;
  width: 92%;
}

#search-form\:info {
  margin-left: 25%;
  font-style: italic;
}

.search-result-table {
  border-collapse: collapse;
  table-layout: fixed;
}

.search-result-table td {
  overflow: hidden;
}

.search-result-header {
  text-align: left;
  background: none repeat scroll 0 0 $header-blue;
  border-bottom: 1px solid $grey;
  padding: 6px;
  width: 10%;
  color:$white;
}

.search-result-odd-row {
  text-align: left;
  background: none repeat scroll 0 0 $white;
  border-top: 1px solid $grey;
}

.search-result-even-row {
  text-align: left;
  background: none repeat scroll 0 0 $light-grey;
  border-top: 1px solid $grey;
}

#subject-slider {
	width: 90%;
	margin-top: 10%;
	height: 250px;
}

#subject-description-input {
	width: 95%;
	height: 400px;
	float: left;
}

#rating {
	padding: 10px;
	float: right;
}

#print-page {
	float: right;
}

#hhcib-form {
	margin-bottom: 1%;
	margin-top: 1%;
}

.button {
	margin-left: 1%;
	text-decoration: none;
	-webkit-box-shadow: $button-shadow 0 1px 0 0;
	-moz-box-shadow: $button-shadow 0 1px 0 0;
	box-shadow:  $button-shadow 0 1px 0 0;
	background-color: $button-blue;
	border: 1px solid $button-border;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	padding: 2px 6px;
	color: $button-color;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px
}

input.rounded {
	border: 1px solid $input-border;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 15px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
	margin-bottom: 2%;
}

input.rounded:focus {
	border-color: $button-blue;
}

#social-share .button {
	background-color: $white;
	border: none;
}

h3 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18pt;
	color: $white;
}

h3.splash {
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 15%;
	margin-left: 15%;
}

ul#navigation {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
	font: bold 16px Helvetica, Verdana, Arial, sans-serif;
	line-height: 165%;
	width: 200px;
}

ul#navigation li {
	margin: 0;
	padding: 0;
	border-top: 10px solid $navigation-border-top;
	border-bottom: 10px solid $navigation-border-top;
}

ul#navigation li#home {
	color: #5f;
	margin-bottom: 5%;
}

ul#navigation li a {
	display: block;
	text-decoration: none;
	color: #fff;
	background: #600;
	padding: 0 0 0 20px;
	width: 180px;
}

ul#navigation li a:hover {
	background: #900
		url("http://www.cssportal.com/vertical-menus/images/vert-one_arrow.gif")
		no-repeat 0 9px;
}