/*
 * The hhcib_print.ccs stylesheet is generated - do not alter! Use instead hhcib_print.scss (located in sass-folder)
 * to create the hhcib_print-stylesheet. hhcib_print.scss is based on SCSS-syntax  (see sass-lang.com) for further details.
 *
 */	
body {
	color: #000000;
	background: #ffffff;
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
}

a {
	text-decoration: underline;
	color: #0000ff;
}

#header,#left,#social-share, #print-page, #aloha-ui-context {
	display: none;
}


.aloha.aloha-surface.aloha-toolbar, .aloha-sidebar-handle {
	display: none;
}

.aloha-sidebar-bar.aloha-sidebar-right {
    display: none;
}